In [1]:
# Capitulo 2

## Resumo de Dados:

# 2.1 Tipos de variáveis  

import pandas as pd

tabela_2_1 = pd.read_excel('./Dados_EB_orig.xls', sheet_name='Tabela 2.1', header=1) # aba tabela 2.1, primeira linha como cabeçalho
tabela_2_1

# Variáveis qualitativas (categóricas) descrevem atributos ou características não numéricas (ex: cor, sexo, escolaridade), dividindo-se em nominais (sem ordem) ou ordinais (com ordem). Variáveis quantitativas (numéricas) representam medidas ou contagens, sendo discretas (inteiros, ex: número de filhos) ou contínuas (decimais/intervalos, ex: altura, peso)

# Variaveis qualitativas nominais: Estadfo Civil, Região de Procedência
# Variaveis qualitativas ordinais: Grau de Instrução
# Variaveis quantitativas discretas: Número de Filhos, anos, meses
# variaveis quantitativas contínuas: Salario

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,6,casado,ensino fundamental,0.0,6.66,28,0,interior
6,7,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,8,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,9,casado,ensino médio,1.0,7.59,34,10,capital
9,10,solteiro,ensino médio,NaN,7.44,23,6,outra
10,11,casado,ensino médio,2.0,8.12,33,6,interior
11,12,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,13,solteiro,ensino médio,NaN,8.74,37,5,outra
13,14,casado,ensino fundamental,3.0,8.95,44,2,outra
14,15,casado,ensino médio,0.0,9.13,30,5,interior
15,16,solteiro,ensino médio,NaN,9.35,38,8,outra
16,17,casado,ensino médio,1.0,9.77,31,7,capital
17,18,casado,ensino fundamental,2.0,9.80,39,7,outra
18,19,solteiro,superior,NaN,10.53,25,8,interior
19,20,solteiro,ensino médio,NaN,10.76,37,4,interior
20,21,casado,ensino médio,1.0,11.06,30,9,outra
21,22,solteiro,ensino médio,NaN,11.59,34,2,capital
22,23,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,24,casado,superior,0.0,12.79,26,1,outra
24,25,casado,ensino médio,2.0,13.23,32,5,interior
25,26,casado,ensino médio,2.0,13.60,35,0,outra
26,27,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,28,casado,ensino médio,0.0,14.69,29,8,interior
28,29,casado,ensino médio,5.0,14.71,40,6,interior
29,30,casado,ensino médio,2.0,15.99,35,10,capital
30,31,solteiro,superior,NaN,16.22,31,5,outra
31,32,casado,ensino médio,1.0,16.61,36,4,interior
32,33,casado,superior,3.0,17.26,43,7,capital
33,34,solteiro,superior,NaN,18.75,33,7,capital
34,35,casado,ensino médio,2.0,19.40,48,11,capital
35,36,casado,superior,3.0,23.30,42,2,interior

In [23]:
frequencia = tabela_2_1['Grau de Instrução'].value_counts() # conta a frequência de cada categoria na variável 'Grau de Instrução'
proporção = tabela_2_1['Grau de Instrução'].value_counts(normalize=True) # calcula a proporção de cada categoria
porcentagem = tabela_2_1['Grau de Instrução'].value_counts(normalize=True) * 100 # calcula a porcentagem de cada categoria
tabela_2_2 = pd.DataFrame({'Frequência': frequencia, 'Proporção': proporção, 'Porcentagem %': porcentagem}) # cria um DataFrame com frequência, proporção e porcentagem
tabela_2_2.loc['Total'] = tabela_2_2.sum().round(1) # adiciona uma linha 'Total' somando os valores numéricos. arrendonda para 1 casa decimal
tabela_2_2

                    Frequência  Proporção  Porcentagem %
Grau de Instrução
ensino médio              18.0   0.500000      50.000000
ensino fundamental        12.0   0.333333      33.333333
superior                   6.0   0.166667      16.666667
Total                     36.0   1.000000     100.000000

In [22]:
tabela_2_3 = pd.DataFrame({'Grau de Instrução': ['Fundamental', 'Médio', 'Superior'], 'Frequência': [1650, 1020, 1330], 'Porcentagem': [32.5, 51, 16.5]})
tabela_2_3.set_index('Grau de Instrução', inplace=True) # Grau de Instrução é indice principal
tabela_2_3.loc['Total'] = tabela_2_3.sum().round(1)
tabela_2_3

                   Frequência  Porcentagem
Grau de Instrução
Fundamental            1650.0         32.5
Médio                  1020.0         51.0
Superior               1330.0         16.5
Total                  4000.0        100.0

In [ ]:
import math

cortes = list(range(4, math.ceil(max(list(tabela_2_1['Salario (x Sal Min)']))) + 4, 4)) # criando lista de cortes de 4 em 4 a partir de 4 até o valor máximo arredondado para cima +4
tabela_prov = tabela_2_1.copy() # criando uma cópia temporária da tabela 2.1
tabela_prov['Faixa Salarial'] = pd.cut(tabela_2_1['Salario (x Sal Min)'], bins=cortes, right=False) # criando uma nova coluna 'Faixa Salarial' com intervalos definidos pelos cortes
frequencia = tabela_prov['Faixa Salarial'].value_counts().sort_index() # contando a frequência de cada faixa salarial e ordenando pelo índice (faixa salarial)
porcentagem = tabela_prov['Faixa Salarial'].value_counts(normalize=True).sort_index() * 100 # calculando a porcentagem de cada faixa salarial e ordenando pelo índice
tabela_2_4 = pd.DataFrame({'Frequência': frequencia, 'Porcentagem %': porcentagem}) # criando um DataFrame com frequência e porcentagem
del(tabela_prov) # deletando a tabela temporária
tabela_2_4.loc['Total'] = tabela_2_4.sum().round(1) # adicionando uma linha 'Total' somando os valores numéricos. arrendonda para 1 casa decimal
tabela_2_4

# frequencia faixa de salario, conseguir fazer aqui e no libreofiice, mas no excel nao consegui, pois teve problema em identificar como numerico e poder fazer o intervalo.

                Frequência  Porcentagem %
Faixa Salarial
[4, 8)                10.0      27.777778
[8, 12)               12.0      33.333333
[12, 16)               8.0      22.222222
[16, 20)               5.0      13.888889
[20, 24)               1.0       2.777778
Total                 36.0     100.000000