In [ ]:
# Capitulo 2

## Resumo de Dados:

# 2.1 Tipos de variáveis  

import pandas as pd

tabela_2_1 = pd.read_excel('./Dados_EB.xls', sheet_name='Tabela 2.1', header=1)
tabela_2_1

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,6,casado,ensino fundamental,0.0,6.66,28,0,interior
6,7,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,8,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,9,casado,ensino médio,1.0,7.59,34,10,capital
9,10,solteiro,ensino médio,NaN,7.44,23,6,outra
10,11,casado,ensino médio,2.0,8.12,33,6,interior
11,12,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,13,solteiro,ensino médio,NaN,8.74,37,5,outra
13,14,casado,ensino fundamental,3.0,8.95,44,2,outra
14,15,casado,ensino médio,0.0,9.13,30,5,interior
15,16,solteiro,ensino médio,NaN,9.35,38,8,outra
16,17,casado,ensino médio,1.0,9.77,31,7,capital
17,18,casado,ensino fundamental,2.0,9.80,39,7,outra
18,19,solteiro,superior,NaN,10.53,25,8,interior
19,20,solteiro,ensino médio,NaN,10.76,37,4,interior
20,21,casado,ensino médio,1.0,11.06,30,9,outra
21,22,solteiro,ensino médio,NaN,11.59,34,2,capital
22,23,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,24,casado,superior,0.0,12.79,26,1,outra
24,25,casado,ensino médio,2.0,13.23,32,5,interior
25,26,casado,ensino médio,2.0,13.60,35,0,outra
26,27,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,28,casado,ensino médio,0.0,14.69,29,8,interior
28,29,casado,ensino médio,5.0,14.71,40,6,interior
29,30,casado,ensino médio,2.0,15.99,35,10,capital
30,31,solteiro,superior,NaN,16.22,31,5,outra
31,32,casado,ensino médio,1.0,16.61,36,4,interior
32,33,casado,superior,3.0,17.26,43,7,capital
33,34,solteiro,superior,NaN,18.75,33,7,capital
34,35,casado,ensino médio,2.0,19.40,48,11,capital
35,36,casado,superior,3.0,23.30,42,2,interior